<footer id="site-footer">
	
	<div class="container footer">

		<aside id="footer--wordmark">
			
			<p class="footer--wordmark">{{ site.title }}</p>
			<p><a href="{{ site.url | remove: "https:" }}" class="footer--site-link">{{ site.url | remove: "https://" }}</a></p>
			
		</aside>
		
		<nav id="footer--links">
			
			<ul>
				<li><a href="/about" class="footer--nav-link" title="Visit the About me page">About</a></li>
			</ul>
			
		</nav>
	
	</div>
	
	<div class="container footer">

		<aside id="footer--colophon">
			
			<p>Website created by <a href="//johnpe.art" class="footer--site-link">John Peart</a></p>
			
		</aside>
	
	</div>
	
</footer>