// Global styles

@at-root {
	@-ms-viewport { 
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  
  min-height: 101vh;
}

html,
body {
	
	position: 				relative;
		
	margin: 				0;
	padding: 				0;
	
	font-family: 			$font-family-sans-serif;
	font-kerning: 			auto;
	letter-spacing: 		normal;

	box-sizing: border-box;

    color: $body-color;
	background: $body-background;
	
	/* Text and background color for dark mode */
	@media (prefers-color-scheme: dark) {
	    color: $body-color-dark-mode;
	    background: $body-background-dark-mode;
	}
	
}

main {
	
	/* Text and background color for dark mode */
	@media (prefers-color-scheme: dark) {
		color: $body-color-dark-mode;
		background:		$main-background;
	}
	
	@include xs {
		min-height: calc(100vh - #{$header-height-base-xs} - (#{$footer-padding-top-xs} * 10));
	}
	@include sm {
		min-height: calc(100vh - #{$header-height-base-sm} - (#{$footer-padding-top-sm} * 10));
	}
	@include md {
		min-height: calc(100vh - #{$header-height-base-md} - (#{$footer-padding-top-md} * 10));
	}
	@include lg {
		min-height: calc(100vh - #{$header-height-base-lg} - (#{$footer-padding-top-lg} * 10));
	}
	@include xl {
		min-height: calc(100vh - #{$header-height-base-xl} - (#{$footer-padding-top-xl} * 10));
	}
	
	
}