// Page styles

body#page,
body[id^='admin-'] {
	
	main {
		min-height: 60vh;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	article#page-content {
		
		min-height: 50vh;
	
		@include xs {
			padding-top: 75px;
			padding-bottom: 75px;
		}
		@include sm {
			padding-top: 90px;
			padding-bottom: 15px;
		}
		@include md {
			padding-top: 90px;
			padding-bottom: 30px;
		}
		@include lg-up {
			padding-top: 90px;
			padding-bottom: 0;
		}
			
		@include md-down {
			background: url('/assets/images/site/earphones/horizontal-right.svg');
			background-repeat: no-repeat;
			background-position: 100% 0;
		}
		@include xs {
			background-size: 75vw;
		}
		@include sm {
			background-size: 50vw;
		}
		@include md {
			background-size: 40vw;
		}
			
		@include lg-up {
				background: 
					url('/assets/images/site/earphones/sidebar-left-2-alt.svg'), url('/assets/images/site/earphones/sidebar-right-alt.svg');
				background-repeat: 
					no-repeat;
		}
		@include lg {
			background-position: 
				0 100%,
				100% 0;
			background-size: 175px;
		}
		@include xl {
			background-position: 
				0 100%,
				100% 0;
			background-size: 250px;
		}
		@include xxl {
			background-position: 
				0 100%,
				100% 0;
			background-size: 350px;
		}
		
		h1.page-title {
			padding-top: 0;			
		}
		
	}
	
	
}

body[id^='admin-'] 	article#page-content {
		
	@include md-down {
		background: url('/assets/images/site/earphones/horizontal-left.svg');
		background-repeat: no-repeat;
		background-position: 0 0;
	}
		
	@include lg-up {
		background: 
			url('/assets/images/site/earphones/sidebar-left.svg'), 
			url('/assets/images/site/earphones/sidebar-right.svg');
		background-repeat: 
			no-repeat;
	}
	@include lg {
		background-position: 
			0 0,
			100% 50%;
		background-size: 175px;
	}
	@include xl {
		background-position: 
			0 0,
			100% 50%;
		background-size: 250px;
	}
	@include xxl {
		background-position: 
			0 0,
			100% 50%;
		background-size: 350px;
	}
	
}
